body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4e4e9;
}

#tool {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #222;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.button {
    flex: 1;
    background-color: #eee;
    color: #444;
    border: none;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}
.button:hover {
    background-color: #ddd;
}

#draw {
    background-color: #fff;
    /* padding: 30px; */
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    width: min(800px, 85%);
    height: min(600px, 60%);
    margin: auto;
}