body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4e4e9;
}

#tool {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    flex: 1;
    background-color: #eee;
    color: #444;
    border: none;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}

.button:hover {
    background-color: #ddd;
}

#draw {
    touch-action: none;       /* 停用觸控手勢：縮放、平移、旋轉 */
    user-select: none;        /* 禁止文字選取 */
    -webkit-user-select: none;
    -webkit-touch-callout: none; /* 禁止 iOS 長按選單 */

    
    /* 啟用 pointerdown/pointermove */
    background-color: #fff;
    /* padding: 30px; */
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    width: min(800px, 85%);
    height: min(600px, 60%);
    margin: auto;
}