body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4e4e9;
}

#tool {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.button ,#toolstyle {
    flex: 1;
    background-color: #eee;
    color: #444;
    border: none;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}

.button:hover {
    background-color: #ddd;
}

#draw {
    background-color: #fff;
    /* padding: 30px; */
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    width: min(800px, 85%);
    height: min(600px, 60%);
    margin: auto;
}

canvas {
    touch-action: none; /* 禁用瀏覽器預設的觸控行為（捲動、縮放） */
    user-select: none;  /* 防止長按選取文字 */
    -webkit-tap-highlight-color: transparent; /* 去除 iOS 點擊時的藍色高亮 */
    -webkit-user-select: none;
    -webkit-touch-callout: none; /* 禁止 iOS 長按選單 */
}